extends ../layout

block content
    div.content
        h1 Your role is #{user.first_name}

        h3 You can
        ul
            each permission in user.role.permissions
                li=permission.name